body {
    background-color: aqua;
}
button{
    font-size: 20px;
    color: green;
}
h1{
   color: blue;
}
canvas{
     animation-name: cable;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     margin-top: 5px;
}
@keyframes cable{
    from{
        box-shadow:1px 1px 40px red;
}
to{
    box-shadow: 1px 1px 40px blue;
}
}